<h1>Confirm Your Subscription</h1>
<p>Thanks for signing up!</p>
<p>
  Please click the link below to confirm your subscription:
</p>
<p>
  <a href="<%= @confirmation_url %>">Confirm my email</a>
</p>    